*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0 0% 10%);
  color: hsl(0, 0%, 80%);
}

.cuboid {
  --width: 100px;
  --height: 100px;
  --depth: 100px;
  position: relative;
  width: var(--width);
  height: var(--height);
  background-color: hsla(0, 0%, 60%, 0.5);
  transform: rotateX(24deg) rotateY(32deg);
  transform-style: preserve-3d;
}

.cuboid-side {
  background-color: hsla(0, 0%, 60%, 0.5);
  border: 1px solid hsl(0, 0%, 80%);
  position: absolute;
  width: var(--width);
  height: var(--height);
}

.cuboid-side:nth-of-type(1) {
  transform: translate3d(0, 0, calc(var(--depth) * -1));
}

.cuboid-side:nth-of-type(3) {
  transform: rotateY(90deg)
    translate3d(
      calc(var(--width) * 0.5),
      0,
      calc(var(--depth) * -0.5)
    );
}

.cuboid-side:nth-of-type(4) {
  transform: rotateY(-90deg)
    translate3d(
      calc(var(--width) * -0.5),
      0,
      calc(var(--depth) * -0.5)
    );
}

.cuboid-side:nth-of-type(5) {
  transform: rotateX(-90deg)
    translate3d(
      0,
      calc(var(--depth) * 0.5) 0,
      calc(var(--height) * -0.5)
    );
}

.cuboid-side:nth-of-type(6) {
  transform: rotateX(90deg)
    translate3d(
      0,
      calc(var(--depth) * -0.5),
      calc(var(--height) * -0.5)
    );
}
